{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'img/study.png' %}"
             alt="SREA"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SREA</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Henrry Jiménez</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{% url 'home:index1' %}" class="nav-link">
                        <i class="icon fa fa-home fa-fw " aria-hidden="true"></i>
                            Inicio
                    </a>
                </li>
                {% if request.user.is_staff %}
                <li class="menu-item-has-children dropdown">
                    <a href="" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users">Usuarios</i> </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="{% url 'srea:principal' %}">Listado de usuarios</a></li>
                        <li><i class="fa fa-table"></i><a href="{% url 'srea:usuario' %}">Registro de usuarios</a></li>
                    </ul>

                    

                </li>
                {% endif %}

                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-graduation-cap">
                        Principal</i> </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href=""></a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-folder-open">
                        Cursos</i> </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fas fa-folder"></i><a href="{% url 'srea:p_asignatura' %}">Asignatura </a></li>
                    </ul>
                </li>


                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-poll" aria-hidden="true">
                        Ficha</i> </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li> <i class="fas fa-folder"></i>Reporte<a href=""></a></li>
                    </ul>
                </li>
                {% endif %}







            </ul>
        </nav>
    </div>
</aside>
