{% load static %}
<aside  class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'img/study.png' %}"
             alt="SREA"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SREA</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-fluid rounded-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{request.user.username}}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="icon fa fa-home fa-fw "></i>
                        <p>
                            Inicio
                        </p>    
                    </a>
                </li>
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'user:carrera_list' %}" class="nav-link">
                        <i class="fas fa-user-graduate"></i>
                        <p>
                            Carrera
                        </p>    
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:user_list' %}" class="nav-link">
                        <i class="menu-icon fa fa-users"></i>
                        <p>
                            Usuarios
                        </p>    
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="menu-icon fa fa-users"></i>
                        <p>
                            Matrícula
                        </p>    
                    </a>
                </li>
               {% endif %}

                <li class="nav-item">
                    <a href="{% url 'user:ficha_list' %}" class="nav-link">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <p>
                            Ficha
                        </p>
                    </a>
                </li>
                {% for g in request.user.groups.all %}
                {% if g.name != "Estudiante" %}
                <li class="nav-item">
                    <a href="{% url 'srea:p_asignatura' %}" class="nav-link"> 
                        <i class="fas fa-book-reader"></i>
                        <p>
                            Asignaturas
                        </p>  
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% if request.user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'srea:p_asignatura' %}" class="nav-link"> 
                        <i class="fas fa-book-reader"></i>
                        <p>
                            Asignaturas
                        </p>  
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'srea:matricula' %}" class="nav-link"> 
                        <i class="fa fa-plus-square"></i>
                        <p>
                            Evaluar E.A
                        </p>  
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'srea:test' %}" class="nav-link"> 
                        <i class="fa fa-plus-square"></i>
                        <p>
                            Test
                        </p>  
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'srea:pregunta' %}" class="nav-link"> 
                        <i class="fa fa-plus-square"></i>
                        <p>
                            Pregunta
                        </p>  
                    </a>
                </li>
               
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-poll"></i>
                        <p>
                            Reporte
                        </p>
                    </a>
                </li>
               
            </ul>
        </nav>
    </div>
</aside>
