{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body login-card-body">
    {% if process == "connect" %}
    <h1>{% blocktrans with provider.name as provider %}Conectar {{ provider }}{% endblocktrans %}</h1>
    
    <p>{% blocktrans with provider.name as provider %}Está a punto de conectar una nueva cuenta de terceros desde {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <h1>{% blocktrans with provider.name as provider %} {{ provider }} <i class="fab fa-google-plus mr-2" style='font-size:30px;color:brown'></i>{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}Iniciar sesión con una cuenta de terceros de {{ provider }}.{% endblocktrans %}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <button type="submit">{% trans "Continuar" %}</button>
    </form>
  </div>
</div>

{% endblock %}
