{% extends "base_list.html" %}

{%block title%}Lista de usuarios{%endblock%}

{%block colums%}
<tr>
    <th>Cedula</th>
    <th>Apellido</th>
    <th>Nombre</th>
    <th>Dirección</th>
    <th colspan="">Opciones</th>
</tr>
{%endblock%}

{%block rows%}
{%for u in usuario%}
<tr>
    <td>{{u.cedula}}</td>
    <td>{{u.apellido}}</td>
    <td>{{u.nombre}}</td>
    <td>{{u.direccion}}</td>

    <td><a href="u_usuario/{{u.id}}" class="btn btn-info">Editar</a></td>
    <td><a href="d_usuario/{{u.id}}" class="btn btn-danger">Eliminar</a></td>
</tr>
{%endfor%}
{%endblock%}
