{% extends "base_list.html" %}
{%block title%}Lista de usuarios{%endblock%}

{%block colums%}
<tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>fecha_nacimiento</th>
    <th colspan="">Opciones</th>
</tr>
{%endblock%}

{%block rows%}
{%for u in usuario%}
    <tr>
        <td>{{u.nombre}}</td>
        <td>{{u.apellido}}</td>
        <td>{{u.correo}}</td>
        <td>{{u.fecha_nacimiento}}</td>
        <td>
        <a href="u_usuario/{{u.id}}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
        <a href="d_usuario/{{u.id}}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
{%endfor%}
<div>
    <div class="card-footer">
        <a href="{% url 'srea:usuario' %}" class="btn btn-info"><i class="fas fa-pen-square"></i>Registrar</a>  
    </div>
</div>
{%endblock%}
