{% extends "b_list.html" %}
{%block title%}Lista de usuarios{%endblock%}

{%block colums%}
<tr>
    <th>Usuario</th>
    <th>nombre</th>
    <th>Detalle</th>
    <th>Foto</th>
    <th colspan="">Opciones</th>
</tr>
{%endblock%}

{%block rows%}
{%for a in asignatura%}
    <tr>
        <td>{{a.user}}</td>
        <td>{{a.nombre}}</td>
        <td>{{a.detalle}}</td>
        <td>{{a.foto}}</td>
        <td>
        <a href="u_asignatura/{{a.id}}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
        <a href="d_asignatura/{{a.id}}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
{%endfor%}
<div>
    <div class="card-footer">
        <a href="{% url 'srea:asignatura' %}" class="btn btn-info"><i class="fas fa-pen-square"></i>Registrar</a>  
    </div>
</div>


{%endblock%}
