{% extends "body.html" %}
{%block title%}Crear Asignatura{%endblock%}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de Asignatura</h2>
        <div class="card">
            <div class="card-body">
                <form  method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <h4>Nombre</h4>
                        <!--<input type="text" id="txtCorreo" name="txtCorreo" class="form-control"
                         placeholder="Correo" minlength="8" maxlength="15" required>-->
                         {{form.nombre}}   
                    </div>
                    <div class="form-group">
                        <h4>Detalle</h4>
                        {{form.detalle}}
                    </div>
                    <div class="form-group">
                        <h4>Foto</h4>
                        {{form.foto}}
                    </div>
                    <div class="form-group">
                        <h4>Estado</h4>
                        {{form.estado}}
                    </div>
                    <div class="form-group">
                        <h4>User</h4>
                        {{form.user}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}