{% extends "b_list.html" %}
{%block title%}Preguntas{%endblock%}
{% block content %}
<center>
    <h2>Bienvenido {{user}}</h2>
</center>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Preguntas</h2>
        <fom>
            <div class="form-group">
                <a href="#" class="btn btn-info">Registrar</a>
            </div>    
        </form>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                        <th colspan="" >Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {%for p in pregunta%} 
                        <td>{{p.id}}</td>
                        <td>{{p.texto}}</td>
                    {%for respuesta in p.preguntas.all%} 
                        <td>{{respuesta}}</td>
                    
                    {%endfor%}
                        <td>
                        <a href="#" class="btn btn-info btn-xs btn-flat">
                            <i class="fas fa-edit"></i> 
                        </a>
                        <a href="deleteP/{{p.id}}" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
         </div>
    </div>
</div>
{% endblock %}
