{% extends "home.html" %}
{%block title%}Preguntas{%endblock%}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Preguntas</h1>
        <fom>
            <div class="form-group">
                <a href="{% url 'srea:pregunta' %}" class="btn btn-info">Registrar</a>
            </div>    
        </form>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Pregunta</th>
                        <th>Estado</th>
                        <th>User</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{pregunta.titulo}}
                    {%for p in pregunta%}
                    <tr>
                        <td>{{p.pregunta}}</td>
                        <td>{{p.estado}}</td>
                        <td>{{p.user}}</td>
                        <td><a href="updateP/{{p.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="deleteP/{{p.id}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
         </div>
    </div>
</div>
{% endblock %}
