{% extends "b_list.html" %}
{%block title%}Preguntas{%endblock%}
<center>
    <h2>Bienvenido {{user}}</h2>
</center>
{%block colums%}
<tr>
    <th>Preguntas</th>
    
    <th colspan="">Opciones</th>
</tr>
{%endblock%}

{%block rows%}
{%for p in pregunta%}
    <tr>
        <td>{{p.texto}}</td>
        <td>
        <a href="u_ficha/{{u.id}}" class="btn btn-info btn-xs"><i class="fas fa-edit"></i></a>
        <a href="d_ficha/{{u.id}}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
{%endfor%}
<div>
    <div class="card-footer">
        <a href="{% url 'srea:pregunta' %}" class="btn btn-info"><i class="fas fa-pen-square"></i>Registrar</a>  
    </div>
</div>
{%endblock%}
