{% extends 'base_list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
   
{% endblock %}
{%block colums%}
<tr>
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 20%;">Duración</th>
    <th scope="col" style="width: 20%;">Facultad</th>
    <th scope="col" style="width: 15%;">Opciones</th>
</tr>
{%endblock%}

{%block rows%}
    {%for m in object_list%} 
    <tr>           
        <td>{{m.id}}</td>
        <td>{{m.nombre}}</td>
        <td>{{m.duracion}}</td>
        <td>{{m.facultad}}</td>
        <!--<td>{% for a in m.curso.all %}<span class="badge badge-success"> {{ a.nombre_ciclo }}</span> <br> {% endfor %}</td>-->
        <td>
        <a href="/user/carrera_list/u_carrera/{{m.id}}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
        <a href="/user/carrera_list/d_carrera/{{m.id}}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
    {%endfor%}
{%endblock%}


{% block javascript %}
  <script type="application/javascript">
    $(function(){
        $('#data').DataTable({
          responsive: true,
          autoWidth: false
        });
    });
  </script>
    
{% endblock %}