{% extends 'base_list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
    
{% endblock %}
{%block colums%}
<tr>
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 20%;">Descripción</th>
    <th scope="col" style="width: 15%;">Opciones</th>
</tr>
{%endblock%}

{%block rows%}
  {%for f in object_list%} 
      <tr>           
      <td>{{f.id}}</td>
      <td>{{f.nombre}}</td>
      <td>{{f.descripcion}}</td>    
      <td>
      <a href="/user/facultad_list/u_facultad/{{f.id}}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
      <a href="/user/facultad_list/d_facultad/{{f.id}}" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
      </td>
      </tr>
  {%endfor%}
{%endblock%}


{% block javascript %}
<script type="application/javascript">
    $(function(){
        $('#data').DataTable({
          responsive: true,
          autoWidth: false
        });

        $('.btnTest').on('click',function () { 
          $.ajax({
            url:'{% url 'user:facultad_list' %}', 
            type: 'POST',
            data: {id:30},
            dataType: 'json'
          }).done(function(data){
            console.log(data)

          }).fail(function(jqXHR,textStatus,errorThrown){
            alert(textStatus+':'+errorThrown)
          }).always(function(data){
            
          });
        });
    });
  </script>
    
{% endblock %}