{% extends 'layout.html' %}
{%block title%}Actualizar usuario{%endblock%}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de Usuario</h2>
        <div class="card">
            <div class="card-body">
                <form  method="POST">{% csrf_token %}
                    <div class="form-group">
                        <h4>Nombre</h4>
                         {{form.nombre}}
                    </div>
                    <div class="form-group">
                        <h4>Apellido</h4>
                        {{form.apellido}}
                    </div>
                    <div class="form-group">
                        <h4>Correo</h4>
                        {{form.correo}}
                    </div>
                    <div class="form-group">
                        <h4>Clave</h4>
                        {{form.clave}}
                    </div>
                    <div class="form-group">
                        <h4>Fecha de nacimiento</h4>
                        {{form.fecha_nacimiento}}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success text-white">
                            <i class="fas fa-save"></i> Actualizar
                        </button>
                        <a href="{% url 'srea:principal' %}" class="btn btn-info btn-flat">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}