{% extends "base_list.html" %}
{% load static %}
{%block title%}Lista de usuarios{%endblock%}
{% block head_list %}
<script src="{% static '/usuario/js/lista1.js' %}"></script>
{% endblock %}
{%block colums%}
<tr>
    <th scope="col" style="width: 20%;">id</th>
    <th scope="col" style="width: 20%;">Nombres</th>
    <th scope="col" style="width: 20%;">Apellidos</th>
    <th scope="col" style="width: 20%;">Birthday</th>
    <th scope="col" style="width: 20%;">Correo</th>
    <th scope="col" style="width: 20%;">Genero</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>
{%endblock%}

{%block rows%}

{%endblock%}

{% block javascript %}
{% endblock  %}