<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Reporte</h1>
        <fom>          
        </form>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{reporte.titulo}}
                    {%for r in reporte%}
                    <tr>
                        <td>{{r.titulo}}</td>
                        <td>{{r.descripcion}}</td>
                        <td>{{r.estado}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
         </div>
    </div>
</div>