{% extends "b_list.html" %}
{% load static %}
{%block title%}Lista de asignaturas{%endblock%}
{% block head_list %}
<script src="{% static '/asignatura/lista1.js' %}"></script>
{% endblock %}
{%block colums%}
<tr>
    <th scope="col" style="width: 20%;">id</th>
    <th scope="col" style="width: 20%;">Usuario</th>
    <th scope="col" style="width: 20%;">Nombre</th>
    <th scope="col" style="width: 20%;">Detalle</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>
{%endblock%}

{%block rows%}

{%endblock%}

{% block javascript %}
{% endblock  %}
