{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock%} 
{% block content %}
    <form method="post" action="{% url 'srea:enroll' asignatura_id user_id %}" enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                  {{title}}<span class="badge badge-light"> {{asignatura}}</span>
                </h3>
            </div>
            <div class="card-body">
                {% csrf_token %} <!--Protección de Django-->
                <input type="hidden" name="action" value="{{ action }}">{#Va a tener el valor de la variable action#}

                    <div class="form-group">
                      <table class="table" id="data">
                        <thead>
                          {%block colums%}
                          <tr>
                            <th scope="col" style="width: 15%;">Rol</th>
                            <th scope="col" style="width: 15%;">Nombre</th>
                            <th scope="col" style="width: 15%;">Apellido</th>
                            <th scope="col" style="width: 15%;">Registrar</th>
                          </tr>
                          {%endblock%}
                        </thead>
                        <tbody>
                          {%block rows%}
                            {% for u in usuarios %}
                              <tr>
                                <td>
                                  {% for g in u.groups.all %}
                                    <span class="badge badge-success">{{g}}</span>
                                  {% endfor %} 
                                </td>
                              <td>
                                {{u.first_name}}
                              </td>
                              <td>
                                {{u.last_name}}
                              </td>
                              <td> 
                                <label>
                                 
                                  <input  type="checkbox" name="usuarios" value="{{ u.id }}" />
                                </label>    
                              </td> 
                            </tr>  
                            {% endfor %}
                          {% endblock %}
                        </tbody>
                      </table>
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">
                    <i class="fas fa-save"></i> Registrar
                </button>
                <a href="{% url 'srea:course' asignatura_id %}" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script type="application/javascript">
    $(function(){
        $('#data').DataTable({
          responsive: true,
          autoWidth: false
        });
    });
  </script>
{% endblock %}
