{% extends 'formulario.html' %}
{% load static %}
{% load widget_tweaks %} {#Importamos la librería#}
{% block head %}
    {% block head_form %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'unidad/forms.js' %}"></script>
    {% endblock%}
{% endblock%} 
{% block content %}
    <form method="post" action="" enctype="multipart/form-data" role="form">
        <div class="card card-primary">
            <div class="card-body">
                {% csrf_token %} <!--Protección de Django-->
                {% for field in form.visible_fields %}<!--Recorrer el formulario a través de la propiedad visible_fields se accede a todos los componentes-->
                    <div class="form-group">
                        <label for="">{{ field.label }}:</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" value="login" class="btn btn-info">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{% url 'srea:primeraU' asignatura_id  %}"  class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}
