{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
{% endblock  %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div> 
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            Perfil
                        </h3>
                    </div>
                    <div class="main_div">
                        <table class="table" id="data">
                          <thead>
                          {%block colums%}
                          <div class="main_div2">
                            <labe><b>Nombre:</b></labe>
                            {% for u in user %}
                                {{u.toJSON.full_name}}
                            {% endfor %} 
                            {% for fic in ficha %}
                                {% for f in fic %}
                                  <br> <labe><b>Estilo Dominante:</b></labe>
                                        {{estilo_dominate_usuario}}
                                  <br> <labe><b>Ocupación:</b></labe>
                                        {{f.ocupacion}}
                                  <br> <labe><b>Téctica de Estudio:</b></labe>
                                        {{f.tecnica_estudio}}
                                {% endfor %}
                           {% endfor %}
                          </div>
                          {%endblock%}
                          </thead>
                          <tbody>
                          {%block rows%}
                  
                          {%endblock%}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="application/javascript">
      estilos_a={{estilos|safe}}
      categorias={{count|safe}}
        Highcharts.chart('container', {
            chart: {
              type: 'column'
            },
            title: {
              text: 'Reporte de Estilos de Aprendizaje'
            },
            subtitle: {
              text: 'Estilos de Aprendizaje'
            },
            xAxis: {
              categories: estilos_a,
              crosshair: true
            },
            yAxis: {
              min: 0,
              title: {
                text: 'Estilos de Aprendizaje (ea)'
              }
            },
            tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} %</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
            },
            plotOptions: {
              column: {
                pointPadding: 0.2,
                borderWidth: 0
              }
            },
            series: [{
              name: 'Estilos de Aprendizaje',
              showInLegend:false,
              colorByPoint:true,
              data: categorias,
            }]
          });
    </script>
    
{% endblock %}
    