{% extends 'formulario.html' %}
{% load static %}
{% load widget_tweaks %} {#Importamos la librería#}

{% block head_form  %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'curso/forms.js' %}"></script>
{% endblock %}
        
{% block content %}
  <form method="POST" enctype="multipart/form-data">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"></h3>
            </div>
            <div class="card-body">
                {% csrf_token %} <!--Protección de Django-->
                <input type="hidden" name="action" value="{{ action }}">{#Va a tener el valor de la variable action#}
                {% if form.errors %}{#Si exite un error en el formulario#}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul><!--Este for permite recorrer el error-->
                            {% for field in form %}{#Voy  a iterar cada uno de mis componenentes del formulario#}
                                {% for error in field.errors %}{#A cada componente le voy a preuntar si tiene errores#}
                                    <li>{{ error }}</li>{#Presento los errores#}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}{#---------#}
                {% for field in form.visible_fields %}<!--Recorrer el formulario a través de la propiedad visible_fields se accede a todos los componentes-->
                    <div class="form-group">
                        <label for="">{{ field.label }}:</label>
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info">
                    <i class="fas fa-save"></i>  Actualizar
                </button>
                <a href="{% url 'srea:take-quiz' asignatura_id unidad_id quiz.id  %}" class="btn btn-danger">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
  </form>
    <script>
       {% if form.errors %}{#Preguntar si existen los errores#}
            var errors = '';{#Esta variable va a contener todos los errores de cada componente#}
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Información',
                icon:'info',
                text: errors
            });
        {% endif %}

    </script>
{% endblock %}
