{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
    


    {% block head_list %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

    {% endblock %}

{% endblock %}
        
{% block content %}
<div class="card card-primary">
  <div class="card-header">
      <h3 class="card-title">
      </h3>
  </div>
  <div class="card-body">
          <div class="row center-align">
              <div class="col s12">
              <form method="POST" enctype="multipart/form-data" action="" role="form">
                {% csrf_token %}
              <h3 class="title is-3">Vamos a crear una nueva pregunta.</h3>
  
  
              <div class="input-field col s12">
                {{ form.question_text }}
                <label for="question_text">Ingresa la pregunta</label>
              </div>
  
<!--              <div class="input-field col s12">
                {{ form.points }}
                <label for="points">Puntuación para esta pregunta:</label>
              </div>
 --> 
              <div class="input-field col s9">
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
                <label for="answer_text">Respuesta 1</label>
              </div>
  
              <div class="input-field col s3">
                <select id="id_respuesta" name="respuesta">
                  <option value="" disabled selected>----------</option>
                  {% for item in cat %}
                  <option value="{{item.id}}">{{item.nombreItem}}</option>
                  {% endfor %} 
                </select>
                <label>¿Es esta la respuesta correcta?</label>
              </div>
  
              <div class="input-field col s9">
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
                <label for="answer_text">Respuesta 2</label>
              </div>
    
              <div class="input-field col s3">
                <select id="id_respuesta" name="respuesta">
                  <option value="" disabled selected>----------</option>
                  {% for item in cat %}
                  <option value="{{item.id}}">{{item.nombreItem}}</option>
                  {% endfor %}
                </select>
                <label>¿Es esta la respuesta correcta?</label>
              </div>
    
              <div class="input-field col s9">
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
                <label for="answer_text">Respuesta 3</label>
              </div>
    
              <div class="input-field col s3">
                <select id="id_respuesta" name="respuesta">
                  <option value="" disabled selected>----------</option>
                  {% for item in cat %}
                  <option value="{{item.id}}">{{item.nombreItem}}</option>
                  {% endfor %}
                </select>
                <label>¿Es esta la respuesta correcta?</label>
              </div>
    
              <div class="input-field col s9">
                <input type="text" name="answer_text" id="id_answer_text" class="validate">
                <label for="answer_text">Respuesta 4</label>
              </div>
    
              <div class="input-field col s3">
                <select id="id_respuesta" name="respuesta">
                  <option value="" disabled selected>----------</option>
                  {% for item in cat %}
                  <option value="{{item.id}}">{{item.nombreItem}}</option>
                  {% endfor %}
                </select>
                <label>¿Es esta la respuesta correcta?</label>
              </div>
    
  
            <div class="row">
              <div class="col s12">
                <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
              </div>
            </div>
      
      
            <div class="col s12">
            <p class="control">
              <button type="submit" value="login" class="btn waves-effect waves-light">
                Crear nueva pregunta
              </button>
            </p>
      </div>
        <div class="col s12">
          <a class="btn" href="{% url 'srea:take-quiz' asignatura_id unidad_id quiz_id  %}">Finalizar</a>  <!--asignatura_id--<int:unidad_id>-<quiz_id>->    
        </div>
        </form>
  </div>
  </div>


{% endblock %}