{% extends 'login_base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Cambio de la clave</p>
      <!-- formulario -->
      <form action="." method="post">
        <input type="hidden" name="next" value="{{ next }}" /> <!-- Permite verificar el atributo next -->
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.password}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{ form.confirmPassword}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-envelope"></i> Cambiar clave
            </button>
          </div>
        </div>
        <p class="text-center mt-2" style="font-size: medium;">
          ¿Desea regresar al login?
          <a href="{% url 'login' %}">
            <i class="far fa-hand-point-right"> </i>
            Login
          </a>
        </p>
      </form>
      <script type="application/javascript">
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);
                submit_with_ajax(window.location.pathname, 'Notificación', '¿Estás seguro de cambiar tu clave?', parameters, function () {
                    Swal.fire({
                        title: 'Notificación',
                        text: 'Su clave se cambio correctamente',
                        icon: 'success',
                        timer: 3000,
                        onClose: () => {
                            location.href = '/';
                        }
                    }).then((result) => {
                    });
                });
            });
        });
      </script>
    </div>
{% endblock %}
    