{% extends 'login_base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Cambio de la clave</p>
      <!-- formulario -->
      <form action="." method="post">
        <input type="hidden" name="next" value="{{ next }}" /> <!-- Permite verificar el atributo next -->
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.password}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            {{ form.confirmPassword}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-envelope"></i> Cambiar clave
            </button>
          </div>
        </div>
      </form>
    </div>
{% endblock %}
    