{% extends 'login_base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Reseteo de la clave</p>
      <!-- formulario -->
      <form action="." method="post">
        <input type="hidden" name="next" value="{{ next }}" /> <!-- Permite verificar el atributo next -->
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.username}}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fas fa-envelope"></i> Resetear clave
            </button>
          </div>
        </div>
      </form>
    </div>
    <script type="application/javascript">
      $(function () {
          $('form').on('submit', function (e) {
              e.preventDefault();
              var parameters = new FormData(this);
              submit_with_ajax(window.location.pathname, 'Notificación', '¿Estás seguro de resetear tu contraseña?', parameters, function () {
                  Swal.fire({
                      title: 'Notificación',
                      text: 'Correo electrónico enviado con éxito',
                      icon: 'success',
                      timer: 5000,
                      onClose: () => {
                          location.href = '/';
                      }
                  }).then((result) => {

                  });
              });
          });
      });
    </script>
  </div>
{% endblock %}