{%extends 'body.html'%}
{% load widget_tweaks %}
{% block content %}
    <form  method="post" action=".">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card card-body">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        {{title}}
                    </h3>
                </div>
                <div class="form-group">  
                    {% csrf_token %} 
                    <h4>Correo</h4>
                    {{form.correo}}
                </div>
                <div class="form-group">  
                    <h4>Clave</h4>
                    {{form.clave}}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Ingresar 
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
