{% extends "base.html" %}
{%block title%}Indicaciones{%endblock%}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Indicaciones</h1>
        <fom>
            <div class="form-group">
                <a href="{% url 'srea:indicacion' %}" class="btn btn-info">Registrar</a>
            </div>    
        </form>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Tiempo</th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{indicacion.titulo}}
                    {%for i in indicacion%}
                    <tr>
                        <td>{{i.titulo}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>{{i.tiempo}}</td>
                        <td><a href="updateI/{{i.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="deleteI/{{i.id}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
         </div>
    </div>
</div>
{% endblock %}
