{% extends "home.html" %}
{%block title%}Actualizar test{%endblock%}
{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de Test</h2>
        <div class="card">
            <div class="card-body">
                <form  method="POST">{% csrf_token %}
                    <div class="form-group">
                        <h4>Nombre</h4>
                         {{form.nombre}}
                    </div>
                    <div class="form-group">
                        <h4>Estado</h4>
                        {{form.estado}}
                    </div>
                    <div class="form-group">
                        <h4>User</h4>
                        {{form.user}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}