{% extends "./base.html" %}
{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Principal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Estudiante</h5>
              <p class="card-text">Ingresa como estudiante.</p>
              <a href="srea/cuenta/" class="btn btn-primary">Ingresar</a>
            </div>
          </div>
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Docente</h5>
              <p class="card-text">Ingresa como docente.</p>
              <a href="srea/cuenta/" class="btn btn-primary">Ingresar</a>
            </div>
          </div>
    </body>
</html>
{% endblock  %}
