{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    {% block head_list %}
      <script src="{% static 'cuestionario/cuestionario.js' %}" defer></script>
    {% endblock %}

{% endblock %}

{% block content %}
<div class="card card-lightblue">
  <div class="card-header">
    <div class="col">
      <b>
        {{obj.titulo}}  <i class="fas fa-edit"></i>
      </b><br>
      <p>Puntaje para pasar: {{obj.required_score_to_pass}} %</p><br>
    </div>
    <div class="col text-right" id="timer-box"></div>
  </div>
  <div id='score-box' class="card-body">
      <table class="table" id="data">
        <thead>
        {%block colums%}
         
        {%endblock%}
        </thead>
        <tbody>
        {%block rows%}
          <form id="quiz-form" class="mt-3 mb-3">
            {% csrf_token %}
            <div id="quiz-box"></div>
           
              <button  type="submit"class="btn btn-primary mt-3"> Guardar 

              </button> <a>  </a>

              <a href="/srea/cuestionario" class="btn btn-success mt-3">
                Cancelar
              </a>  
            
         </form>
        

        {%endblock%}
        <!--RESULTADOS-->
        <hr>
          <!--<div id='score-box'></div>
          <div id='result-box'></div>-->
        </tbody>
      </table>
  </div>
  <div class="card-footer">
  </div>
</div>
{% endblock %}

