{% extends 'base_list.html' %}
{% load static %}
{%block title%}Lista de cuestionarios{%endblock%}
{% block head_list %}
    <script src="{% static 'cuestionario/main.js' %}" defer></script>
{% endblock head_list %}
    
{% block colums %}
  <!-- Modal -->
  <div class="modal fade" id="cuestionarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Estilos de Aprendizaje</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body-confirm">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <button type="button" id="start-button" class="btn btn-primary">Si</button>
        </div>
      </div>
    </div>
  </div>
  <div class="h1">Lista de cuestionarios</div>
  <tr>
        <th scope="col" style="width: 5%;">Nro</th>
        <th scope="col" style="width: 10%;">Nombre</th>
        <th scope="col" style="width: 10%;">Tiempo</th>
        <th scope="col" style="width: 20%;">Fecha</th>
        <th scope="col" style="width: 5%;">Opciones</th>
  </tr>
{%endblock%}

{%block rows%}
{%for obj in object_list%} 
    <tr>           
    <td>{{obj.id}}</td>
    <td>
      <button class="btn btn-outline-dark modal-button"
          data-pk="{{obj.pk}}"
          data-cuestionario="{{obj.titulo}}"
          data-pregunta="{{obj.numero_preguntas}}"
          data-tiempo="{{obj.tiempo}}"
          data-toggle="modal"
          data-target="#cuestionarioModal">
          {{obj.titulo}}
      </button>
    </td>
    <td>{{obj.tiempo}} min</td>
    <td>{{obj.fecha}}</td>
    <td>
    <a href="#" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
    <a href="#" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></a>
    </td>
    </tr>
{%endfor%}

{%endblock%}

{% block javascript %}
  <script type="application/javascript">
    $(function(){
        $('#data').DataTable({
          responsive: true,
          autoWidth: false
        });

        $('.btnTest').on('click',function () { 
          $.ajax({
            url:'{% url 'quiz:main-view' %}', 
            type: 'POST',
            data: {id:30},
            dataType: 'json'
          }).done(function(data){
            console.log(data)

          }).fail(function(jqXHR,textStatus,errorThrown){
            alert(textStatus+':'+errorThrown)
          }).always(function(data){
            
          });
        });
    });
  </script>
{% endblock  %}
    
    